<header class="flex justify-between flex-wrap items-center bg-white py-4">
  <div class="w-full lg:w-1/2 order-2 lg:order-1 ps-6 md:ps-0">
    <app-breadcrumb></app-breadcrumb>
  </div>
  <div class="w-full lg:w-1/2 order-1 lg:order-2 px-4">
    <div class="flex justify-end items-center gap-4">

      <div>
 
        <button
          (click)="onLogout()"
          class="text-sm text-gray-600 hover:text-gray-800 dark:text-gray-300 dark:hover:text-white"
        >
Logout
        </button>
      </div>

      <div class="w-10 h-10 rounded-full inner-border">
        <img src="/img/avatar.png" alt="" class="max-w-full rounded-full" />
      </div>
    </div>
  </div>
</header>
