.inner-border {
  position: relative;
}
.inner-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid rgb(22,198,82);
  pointer-events: none;
  z-index: 10;
  border-radius: 50%; /* لو عندك rounded */
}
