<form [formGroup]="form">
  <section class="flex flex-wrap">
    <div class="w-full lg:w-10/12 3xl:w-8/12 px-2">
      <div class="flex flex-col gap-5">

        <div class="mb-6">
          <app-custom-input
            label="Allow Multiple Login"
            description="Enable or Disable the multiple Login from the same account"
            type="checkbox"
            [errorMessage]="getErrorMessage('authenticationServices')"
          ></app-custom-input>
        </div>

        <div>
          <app-custom-input
            label="Login Attempts"
            description="For Unlimited Attempts"
            type="number"
            formControlName="loginAttempts"
            [errorMessage]="getErrorMessage('loginAttempts')"
            inputClass="text-[#252F4A] text-[14px] font-[400]"
          ></app-custom-input>
        </div>

        <div>
          <app-custom-input
            label="Block Time After Failed Login Attempts"
            description="For Unlimited Time Add 0"
            [required]="true"
            type="number"
            badge="default"
            badgeLabel="Min"
            formControlName="blockTime"
            [errorMessage]="getErrorMessage('blockTime')"
          ></app-custom-input>
        </div>

        <div>
          <app-custom-input
            label="Authentications Attempts"
            description="For OTP Authentications"
            type="number"
            formControlName="authenticationAttempts"
            [errorMessage]="getErrorMessage('authenticationAttempts')"
          ></app-custom-input>
        </div>

        <div>
          <app-custom-input
            label="Sessions Durations"
            description="Sessions to be active without a new login"
            [required]="true"
            type="number"
            badge="default"
            badgeLabel="Min"
            formControlName="sessionDuration"
            [errorMessage]="getErrorMessage('sessionDuration')"
          ></app-custom-input>
        </div>
      </div>
    </div>

    <div class="w-full">
      <div class="flex flex-wrap justify-center gap-4 mt-28">
        <div class="w-40 max-w-xs">
          <app-custom-button
            label="Cancel Changes"
            type="button"
            (click)="onCancel()"
          ></app-custom-button>
        </div>
        <div class="w-40 max-w-xs">
          <app-custom-button
            label="Save Changes"
            type="submit"
            [disabled]="!form.valid"
            (click)="onSubmit()"
          ></app-custom-button>
        </div>
      </div>
    </div>
  </section>
</form>
