<section>
  <p class="text-2xl font-semibold mb-14">
    {{ "Add new Super User" | translate }}
  </p>

  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-wrap justify-center gap-y-4 ">
        <div class="w-full">
          <app-custom-input
            label="Name"
            type="text"
            formControlName="name"
          ></app-custom-input>
        </div>
        <div class="w-full">
          <app-custom-input
            label="Business Email"
            type="email"
            formControlName="email"
          ></app-custom-input>
        </div>
        <div class="w-full">
          <app-custom-input
            label="Password"
            iconPosition="end"
            icon="eye"
            iconStyle="color: #071437;"
            type="password"
            formControlName="password"
          ></app-custom-input>
        </div>
        <div class="w-full">
          <app-custom-input
            label="Mobile"
            type="mobile"
            formControlName="mobile"
          ></app-custom-input>
        </div>
        <div class="w-full">
          <app-custom-select
            type="prime"
            label="Country"
            formControlName="country"
            optionLabel="label"
            [filter]="true"
            filterBy="label"
            optionValue="value"
            [options]="countries"
            [errorMessage]="getErrorMessage('country')"
          ></app-custom-select>
        </div>
        <div class="w-full">
          <app-custom-select
            type="prime"
            label="City"
            formControlName="city"
            optionLabel="label"
            [filter]="true"
            filterBy="label"
            optionValue="value"
            [options]="cities"
            [errorMessage]="getErrorMessage('city')"
          ></app-custom-select>
        </div>
        <div class="w-full">
          <app-custom-select
            type="prime"
            label="Multi Login"
            formControlName="multiLogin"
            optionLabel="label"
            [filter]="true"
            filterBy="label"
            optionValue="value"
            [options]="cities"
            [errorMessage]="getErrorMessage('multiLogin')"
          ></app-custom-select>
        </div>

        <div class="w-full mt-16">
          <div class="flex justify-center gap-x-4 items-center">
            <div>
              <app-custom-button
                label="Cancel Changes"
                type="button"
              ></app-custom-button>
            </div>

            <div>
              <app-custom-button
                label="Save Changes"
                type="submit"
              ></app-custom-button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
