<form [formGroup]="form">
  <section class="flex flex-wrap">
    <div class="w-full lg:w-10/12 xl:w-8/12 px-2">
      <div>
        <div
          class="flex flex-wrap sm:flex-nowrap items-center mb-5 gap-x-5 gap-y-3"
        >
          <div class="w-full sm:w-1/3">
            <app-paragraph paragraphClass="text-gray-700 font-semibold mb-1">
              {{ "Account Status" | translate }}
            </app-paragraph>
            <app-paragraph paragraphClass="text-gray-500 text-[13px]">
              {{ "The status of the Account" | translate }}
            </app-paragraph>
          </div>
          <div class="w-full sm:w-2/3">
            <app-status-badge
              status="active"
              label="Active"
              badgeClass="px-1 text-xs"
            ></app-status-badge>
          </div>
        </div>

        <div
          class="flex flex-wrap sm:flex-nowrap items-center mb-5 gap-x-5 gap-y-3"
        >
          <div class="w-full md:w-1/3">
            <app-paragraph paragraphClass="text-gray-700 font-semibold mb-1">
              {{ "Account Package" | translate }}
            </app-paragraph>
            <app-paragraph paragraphClass="text-gray-500 text-[13px]">
              {{ "The status of the Account" | translate }}
            </app-paragraph>
          </div>
          <div class="w-full md:w-2/3">
            <app-status-badge
              status="active"
              label="Diamond Package"
              badgeClass="px-1 text-xs"
            ></app-status-badge>
          </div>
        </div>

        <div class="flex flex-col gap-5">
          <div>
            <app-custom-input
              label="Domain Name"
              description="The domain name system owner"
              type="text"
              hint="All created users must be assigned to the selected domain"
              formControlName="domainName"
              [errorMessage]="getErrorMessage('domainName')"
            ></app-custom-input>
          </div>

          <div>
            <app-custom-input
              label="Administrator email"
              description="The Domain Owner of the Account"
              [required]="true"
              hint="The Domain Owner of the Account"
              type="text"
              badge="active"
              badgeLabel="Verified"
              badgeClass="px-1 text-xs"
              formControlName="administratorEmail"
              [errorMessage]="getErrorMessage('administratorEmail')"
            ></app-custom-input>
          </div>

          <div>
            <app-custom-select
              type="prime"
              [required]="true"
              label="Time Zone"
              formControlName="timeZone"
              optionLabel="label"
              [filter]="true"
              filterBy="label"
              optionValue="value"
              [options]="timeZone"
              [errorMessage]="getErrorMessage('timeZone')"
            ></app-custom-select>
          </div>

          <div>
            <app-custom-select
              type="prime"
              [required]="true"
              label="Default Currency"
              formControlName="defaultCurrency"
              optionLabel="label"
              [filter]="true"
              filterBy="label"
              optionValue="value"
              [options]="currencies"
              [errorMessage]="getErrorMessage('defaultCurrency')"
            ></app-custom-select>
          </div>

          <!-- <div>
            <app-custom-select
              type="prime"
              [required]="true"
              label="Registration Methods"
              formControlName="registrationMethods"
              optionLabel="label"
              [filter]="true"
              filterBy="label"
              optionValue="value"
              [options]="timeZone"
              [errorMessage]="getErrorMessage('registrationMethods')"
            ></app-custom-select>
          </div> -->

          <div>
            <app-paragraph paragraphClass="text-gray-700 font-semibold mb-1">
              {{ "Language Support" | translate }}
            </app-paragraph>
            <app-paragraph paragraphClass="text-gray-500 text-[13px]">
              {{ "This feature will affect on this system only" | translate }}
            </app-paragraph>
            <div class="flex my-2 gap-4">
              <div class="flex items-center gap-2">
                <app-custom-input
                  label="English"
                  type="checkbox"
                ></app-custom-input>
                <app-status-badge
                  status="active"
                  label="Default"
                  badgeClass="px-1 text-xs"
                ></app-status-badge>
              </div>
              <div>
                <app-custom-input
                  label="Arabic"
                  type="checkbox"
                ></app-custom-input>
              </div>
            </div>
          </div>

          <!-- <div>
            <app-custom-input
              label="Allow Personal Emails for Login"
              description="Enable or Disable the Authentication services for all users on the system"
              type="checkbox"
              formControlName="allowPersonalEmails"
              [errorMessage]="getErrorMessage('allowPersonalEmails')"
            ></app-custom-input>
          </div>

          <div>
            <app-custom-input
              label="Authentication Services"
              description="Enable or Disable the Authentication services for all users on the system"
              type="checkbox"
              formControlName="authenticationServices"
              [errorMessage]="getErrorMessage('authenticationServices')"
            ></app-custom-input>
          </div> -->
        </div>
      </div>
    </div>

    <div class="w-full">
      <div class="flex flex-wrap justify-center gap-4 mt-28">
        <div class="w-40 max-w-xs">
          <app-custom-button
            label="Cancel Changes"
            type="button"
            (click)="onCancel()"
          ></app-custom-button>
        </div>
        <div class="w-40 max-w-xs">
          <app-custom-button
            label="Save Changes"
            type="submit"
            [disabled]="!form.valid"
            (click)="onSubmit()"
          ></app-custom-button>
        </div>
      </div>
    </div>
  </section>
</form>
