<!-- Overlay -->
@if(isOpen){
<div class="fixed inset-0 bg-black bg-opacity-50 z-50" (click)="close()"></div>
}

<!-- Offcanvas Container -->
<div
  [ngClass]="{
    'translate-x-0': isOpen,
    '-translate-x-full': !isOpen && !isRTL,
    'translate-x-full': !isOpen && isRTL,
    'left-0': !isRTL,
    'right-0': isRTL
  }"
  class="fixed top-0 p-4 h-full overflow-auto custom-scrollbar bg-[#F3F3F3] dark:bg-black shadow-lg transition-transform transform duration-300 ease-in-out z-50 text-gray-800 dark:text-gray-100"
>
  <div class="text-end">
    <app-keenicon
      (click)="close()"
      name="cross-circle"
      class="cursor-pointer text-2xl hover:text-[#123d9a] transition-colors duration-300"
    ></app-keenicon>
  </div>
  <!-- Content from Parent -->
  <div class="p-6">
    <ng-content></ng-content>
  </div>
</div>
