<section
  class="default-bg-color min-h-screen flex items-center justify-center flex-wrap"
>
  <div class="flex flex-wrap justify-center items-center ">
    <div class="w-full mb-8 mt-4">
      <img src="/img/logo-white.png" alt="logo" class="mx-auto max-w-80" />
    </div>

    <div class="w-full lg:w-8/12 md:w-10/12 px-4">
      <app-card
        cardClass="bg-[#0D0E12] text-white border border-[#26272F] p-6 rounded-xl"
      >
        <h1 class="text-center text-lg mb-4">
          {{ "Forgot Password" | translate }}
        </h1>
        <div class="flex justify-center gap-2 mb-4">
          <div class="w-full">
            <hr class="border-[#26272F]" />
          </div>
          <div class="w-full">
            <hr class="border-[#26272F]" />
          </div>
        </div>

        <form [formGroup]="form" class="flex flex-col">
          <app-custom-input
            label="Password"
            iconPosition="end"
            labelClass="text-white"
            icon="eye"
            inputClass="custom-input-dark"
            labelPosition="vertical"
            placeholder="Enter Password"
            type="password"
            formControlName="newPassword"
          ></app-custom-input>
          <app-custom-input
            label="Re-type Password"
            iconPosition="end"
            labelClass="text-white"
            icon="eye"
            inputClass="custom-input-dark"
            labelPosition="vertical"
            placeholder="Enter Password Confirmation"
            type="password"
            formControlName="confirmPassword"
          ></app-custom-input>

          <div>
            <ngx-recaptcha2
              #captchaElem
              [siteKey]="siteKey"
              (success)="handleSuccess($event)"
              [useGlobalDomain]="true"
              formControlName="recaptcha"
            >
            </ngx-recaptcha2>
          </div>

          <app-custom-button
            buttonClass="my-4"
            type="submit"
            variant="blue"
            label="Apply New Password"
            (click)="onSubmit()"
            [disabled]="form.invalid"
          ></app-custom-button>
        </form>
        <div class="w-full  ">
          <div class="grid sm:grid-cols-2">
          @for (item of passwordPattern; track $index;) {
          <div>
            <app-paragraph
              paragraphClass="text-[#6D6D6D] mb-1 flex items-center gap-2"
            >
              <div
                class="flex items-center justify-center h-4 w-4 rounded-full"
              >

                <app-keenicon
                  name="check-circle"
                  [iconStyle]="item.valid ? 'color: #00FF4D;' : ''"
                ></app-keenicon>
              </div>
              <span [style]="item.valid ? 'color: #00FF4D;' : ''">{{
                item.message
              }}</span>
            </app-paragraph>
          </div>
          }
        </div>
        </div>
      </app-card>
    </div>
  </div>

  <div class="w-full text-[#808290] text-center mt-auto pb-4">
    <p>{{ "Website is copyrighted by Swalac@ 2025" | translate }}</p>
  </div>
</section>
