<section>
    <form [formGroup]="form"  class="flex flex-col h-full">
    <div class="flex flex-wrap py-12 items-end">
    <div class="w-full lg:w-7/12 order-2 lg:order-1 px-2">
      <div class="flex flex-col gap-8">
        <div>
          <app-custom-input
            label="Recent Password"
            iconPosition="end"
            icon="eye"
            iconStyle="color:#000;"
            type="password"
            formControlName="oldPassword"
            [errorMessage]="getErrorMessage('oldPassword')"
          ></app-custom-input>
        </div>

        <div>
          <app-custom-input
            label="New Password"
            iconPosition="end"
            icon="eye"
            iconStyle="color:#000;"
            type="password"
            formControlName="newPassword"
            [errorMessage]="getErrorMessage('newPassword')"
          ></app-custom-input>
        </div>

        <div>
          <app-custom-input
            label="Retype Password"
            iconPosition="end"
            icon="eye"
            iconStyle="color:#000;"
            type="password"
            formControlName="confirmPassword"
            [errorMessage]="getErrorMessage('confirmPassword')"
          ></app-custom-input>
        </div>

      </div>
    </div>

    <div class="w-full lg:w-5/12 order-1 lg:order-2 mb-4 lg:mb-0 ps-12">
      <div class="ms-0 lg:ms-6">
        @for (item of passwordPattern; track $index) {
        <app-paragraph
            paragraphClass="text-[#6D6D6D] mb-1 flex items-center gap-2"
          >
            <div class="flex items-center justify-center h-4 w-4 rounded-full">
              <app-keenicon
                name="check-circle"
                [iconStyle]="item.valid ? 'color: #0F8733;' : ''"
              ></app-keenicon>
            </div>
            <span [style]="item.valid ? 'color: #0F8733;' : ''">{{
              item.message
            }}</span>
          </app-paragraph>
        }
      </div>
    </div>
  </div>

    <div class="w-full order-12 mt-48">
      <div class="flex justify-center">
        <div class="w-48 max-w-xs">
          <app-custom-button
            label="Save Changes"
            type="submit"
            [disabled]="!form.valid"
            (click)="onSubmit()"
          ></app-custom-button>
        </div>
      </div>
    </div>

  </form>
  </section>
